
.title-words{
    font-family: Arial;
    font-size: 100px;
    font-weight: bold;
    display: inline;
    margin-left: 10px;
}

.title{
    text-align: center;
}

.title-picture{
    width: 70px;
    margin-top: 20px;
}

.search-bar{
    display: block;
    width: 700px;
    height: 50px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.tour-button{
    width: 400px;
    border: 5px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.tour-button:hover{
    opacity: 0.8;
}

.tour-button:active{
    opacity: 0.7;
}

.arrow{
    width: 200px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.graph-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;            
    margin-top: 20px;
}

