<!DOCTYPE html>
<html>
<head>
    <title>{{player.name_first}} {{player.name_last}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>{{player.Name}}</h1>
        <p>Country: {{player.ioc}}</p>
        <p>Birthdate: {{player.dob}}</p>
        <p>Height (cm): {{player.height}}</p>
        <p>Dominant Hand: {{player.hand}}</p>
        <h1>YTD Average Match Stats</h1>
        <p>Aces: {{player.Ace}}</p>
        <p>Double Faults: {{player.Double_Faults}}</p>
        <p>First Serve Percentage: {{player.First_Serve_Perc}}</p>
        <p>First Serve Percentage Won: {{player.First_Serve_Perc_Won}}</p>
        <p>Second Serve Percentage Won: {{player.Second_Serve_Perc_Won}}</p>
        <p>Break Points Percentage Saved: {{player.Perc_Break_Points_Saved}}</p>
    </div>
</body>
</html>